<div class="container new-list">

<h1> add your info: </h1>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create list", class: "btn btn-primary" %>
<% end %>

</div>
