<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <img src= "https://www.keepingkidsconnected.com/wp-content/uploads/2017/05/movie-night.jpg" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to 'My lists', lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New list', new_list_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.imdb.com/">Find a movie</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://resize-parismatch.lanmedia.fr/img/var/news/storage/images/paris-match/people-a-z/jason-statham/6139148-4-fre-FR/Jason-Statham.jpg" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
